.tabs-primary {
  .au-btn.is-active {
    background-color: $AU-color-foreground-text;
    border-color: $AU-color-foreground-text;
    color: $AU-color-background;
    text-decoration: underline;
  }
}
